<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219386321464-2vp08mkeubbcsamp8as4c0cketp85264.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219386321464-2vp08mkeubbcsamp8as4c0cketp85264</string>
	<key>API_KEY</key>
	<string>AIzaSyCeur32kUgl01t8ppMmly29rDvg6chO1Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>219386321464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.bigpanther.shipanthertest</string>
	<key>PROJECT_ID</key>
	<string>shiped-7b848</string>
	<key>STORAGE_BUCKET</key>
	<string>shiped-7b848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219386321464:ios:68414333f7d997e15924cd</string>
	<key>DATABASE_URL</key>
	<string>https://shiped-7b848.firebaseio.com</string>
</dict>
</plist>